{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <select name="cat">
            <option value="">All</option>
            {% if categories %}
                {% for category in categories %}
                    <option
                    value="{{category.id}}"
                    {% if category_id == category.id %}
                     selected="selected"
                     {% endif %}
                    >{{category.name}}</option>
                {% endfor %}
            {% endif %}
        </select>
        </div>
        <div class="input-field col s4">
          <input type="text" name="q" placeholder="Search for books by name" value="{{ q }}">
        </div>
        <div class="input-field col s4">
          <input type="submit" value="Search" class="btn">
        </div>
      </div>
    </form>
  </div>


<div class="row">
<p>
<a class="btn-floating btn-large waves-effect waves-light red right" href="/books/create/"><i class="material-icons">add</i></a>
</p>
<h4>Books</h4>
<hr/>
 <ul class="collection">
{% for book in object_list %}
<li class="collection-item dismissable"><div>{{book.name}} <span class="secondary-content">{{book.category.name}}</span></div></li>
{% endfor %}
</div>
{% endblock content %}
